.page{
	background-image: url("https://img.freepik.com/premium-photo/runner-feet-burning-sneakers-runs-down-street-with-fire-trails-sportsman-shoes-low-angle_77829-10923.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699228800&semt=ais");
	background-repeat: no-repeat;
	background-size: cover;
	

}
.mdiv
{
	padding-top: 20px;
    padding-bottom: 50px;
	margin-right: 700px;
	margin-left: 100px;

	border: solid black;
	background-color: rgb(142, 212, 194);
}
.form
{
	margin-top: 50px;
}
	
input[type=text] {
  width: 80%;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.button {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  align-content: center;
  margin: 10px ;
  margin-right: 80px;
  align-content: center;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.button:hover {
  background-color: #45a049;

}

span.price {
  float: right;
  color: grey;
}